<html ng-app="app">
    <head>
        <title>Curso AngularJS - Exemplo 23</title>
        <style>
            
        </style>
    </head>
    <body>
        <div ng-controller="Aula23Controller" ng-init="campo=''">

            <h1>ui.unique</h1>
            <button type="button" ng-click="campo=''">Todos</button>
            <button type="button" ng-click="campo='nome'">Nome</button>
            <button type="button" ng-click="campo='email'">E-mail</button>
            <p ng-repeat="usuario in usuarios | unique:campo">
                {{usuario.nome}} / {{usuario.email}}
            </p>

            <h1>ui.validate</h1>
            <form name="formulario">
                <input type="text" ng-model="senha" name="senha" placeholder="senha" required>
                <input type="text" 
                        ng-model="confirmasenha" 
                        name="confirmasenha" 
                        placeholder="confirmar senha" 
                        ui-validate='"validar($value)"'
                        ui-validate-watch='"senha"'
                        required >
                <button type="button" ng-disabled="!formulario.$valid">Enviar</button>
            </form>
        </div>
        
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-sanitize.min.js"></script>
        <script src="js/angular/ui-utils.min.js"></script>
        <!-- controllers -->
        <script src="js/aula23.controller.js"></script>
    </body>
</html>