<html ng-app="app">
    <head>
        <title>Curso AngularJS - Exemplo 07</title>
    </head>
    <body>
        <div ng-controller="aula07Controller">
            <ul>
                <li ng-repeat="nome in nomes">{{nome}}</li>
            </ul>

            <input id="nome" type="text">
            <input id="idade" type="text">
            <button type="button" ng-click="addPessoa()">Add</button>

            <ul>
                <li ng-repeat="pessoa in pessoas">{{pessoa.nome}} ({{pessoa.idade}})</li>
            </ul>
        </div>
        
        <script src="js/angular/angular.min.js"></script>
        <script src="js/app.module.js"></script>
        <!-- controllers -->
        <script src="js/aula07.controller.js"></script>
    </body>
</html>