<html ng-app="app">
    <head>
        <title>Curso AngularJS - Exemplo 19</title>
    </head>
    <body>
        <div ng-controller="Aula19Controller">
            <button type="button"  ng-click="criarCookie()">Criar cookie</button>
            <button type="button" ng-click="getCookie()">Get valor cookie</button>
            <button type="button" ng-click="removeCookie()">Remover cookie</button>
        </div>

        <div ng-controller="Aula19Controller_2">
            <button type="button" ng-click="getCookie2()">Get valor cookie 2</button>
        </div>
        
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-cookies.min.js"></script>
        <!-- controllers -->
        <script src="js/aula19.controller.js"></script>
    </body>
</html>