<html ng-app="app">
    <head>
        <title>Curso AngularJS - Exemplo 10</title>
    </head>
    <body>
        <div ng-controller="Aula14Controller">
            <p ng-repeat="pessoa in dados">
                {{pessoa.nome}} / {{pessoa.idade}}
            </p>

            <button type="button" ng-click="carregaDados()">Carregar dados</button>

            <hr/>

            <input type="text" ng-model="cidade">
            <button type="button" ng-click="carregaPrevisao()">Previsao do tempo</button>
            <br>
            <img ng-src="http://openweathermap.org/img/w/{{icone}}" ng-show="icone!=''">{{descricaoTempo}}

        </div>
        
        <script src="js/angular/angular.min.js"></script>
        <script src="js/app.module.js"></script>

        <!-- controllers -->
        <script src="js/aula14.controller.js"></script>
    </body>
</html>