<html ng-app ng-init="titulo = 'Hello World!'; text = 'texto'; a = 10; b = 5; pessoa = {nome: 'Joao da Silva'}">
    <head>
        <title>Exemplo 04</title>
        <script src="js/angular/angular.min.js"></script>
    </head>
    <body>
        <h1 ng-bind="titulo"></h1>
        <p>Variavel <b>text</b>: {{text}}</p>
        <p>Variavel <b>a</b>: {{a}}</p>
        <p>Variavel <b>b</b>: {{b}}</p>
        <p>Somando <b>a</b> e <b>b</b>: {{a+b}}</p>
        <p>Variavel <b>pessoa.nome</b>: {{pessoa.nome}}</p>
        <br>
        <p>Editando variavel text: <input type="text" ng-model="text"></p>
        <p>Editando variavel a: <input type="number" ng-model="a"></p>
        <p>Editando variavel b: <input type="number" ng-model="b"></p>
        <p>Editando variavel pessoa.nome: <input type="text" ng-model="pessoa.nome"></p>
    </body>
</html>